.cards_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    // flex-wrap: wrap;
}

.btn_container{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // background-color: firebrick;
}